# RStudio specific files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rproj
.Rprofile

# History files
.Rhistory
.Rapp.history
.DS_Store

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# R package dependencies
renv/library/
renv/staging/

# R documentation files
man/*.Rd

#R package recoader
script/*
!renv.lock